@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn{
    @apply rounded-full transition-colors duration-150 ease-in-out
  }
  .icon-btn{
    @apply flex items-center gap-1
  }
  .btn-primary {
    @apply btn bg-primaryPurple text-white hover:bg-lightPurple
  }
  .btn-secondary{
    @apply btn dark:bg-white text-primaryPurple bg-[#635FC71A] hover:bg-[#635FC740]
  }
  .btn-danger{
    @apply btn bg-danger hover:bg-lightRed
  }
  .heading-xl{
    @apply font-bold text-2xl/[30px]
  }
  .heading-l{
    @apply font-bold text-lg/[23px]
  }
  .heading-m{
  @apply font-bold text-[15px]/[19px]
  }
  
}

.logo{
  background:url("/lightLogo.png") no-repeat;
  height:25px;
}

/* .darkLogo{
  background:url("/darkLogo.png") no-repeat;
  height:25px;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@media (prefers-color-scheme: dark) {
  .logo{
    background:url("/darkLogo.png") no-repeat;
    height:25px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
