@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .btn{
    @apply rounded-full transition-colors duration-150 ease-in-out
  }
  .icon-btn{
    @apply flex items-center gap-1
  }
  .btn-primary {
    @apply btn bg-primaryPurple text-white hover:bg-lightPurple
  }
  .btn-secondary{
    @apply btn dark:bg-white text-primaryPurple bg-[#635FC71A] hover:bg-[#635FC740]
  }
  .btn-danger{
    @apply btn bg-danger hover:bg-lightRed
  }
  .heading-xl{
    @apply font-bold text-2xl/[30px]
  }
  .heading-l{
    @apply font-bold text-lg/[23px]
  }
  .heading-m{
  @apply font-bold text-[15px]/[19px]
  }
  button {
    @apply transition duration-150 ease-in
  }
  .modal-box{
    @apply rounded p-8 z-20 bg-white dark:bg-dark max-w-lg w-full max-h-max col-span-1 row-span-1
    }
  .modal{
    @apply bg-darkGrey/50 h-full w-full grid place-items-center justify-center
  }
}


.logo{
  height:25px;
  background:url("/lightLogo.png") no-repeat;
}

.dark-logo{
  height:25px;
  background:url("/darkLogo.png") no-repeat;
}

/* .darkLogo{
  background:url("/darkLogo.png") no-repeat;
  height:25px;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*/

html,
body {
    font-size: 100%;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #635FC7;
    background: #ccc;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 3px;
    height: 1px;
    transition: all;
}

::-webkit-scrollbar-track {
    border-radius: 24px;
}

::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: #635FC7;
    border-radius: 24px;
}


.shdw{
  box-shadow: 0px 4px 4px 0px #00000040;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.modal {
    pointer-events: none;
    position: fixed;
    display:grid;
    place-items:center;
    justify-content:center;
    inset:0;
    margin: 0;
    padding: 0;
    opacity: 0;
    overscroll-behavior: contain;
    z-index: 999;
    color: inherit;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0,0,.2,1);
    transition-property: transform,opacity,visibility;
    overflow-y: hidden;
  }

  .modal:target, .modal[open]{
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

  .modal-backdrop{
    z-index: -1;
    position:absolute;
    color: transparent;
    height:100%;
    width:100%;
    pointer-events:auto;
  }

  .modal-backdrop button{
    position:absolute;
    inset:0;
  }

  .modal::backdrop{
    background-color:#000;
    opacity:50%;
    animation:modal-pop .2s ease-out;
  }

  @keyframes modal-pop{
    0%{
      opacity:0;
    }
  }